body{
    display: flex;
    justify-content: center;
    max-width: 100%;
}
.container{
    padding: 1em 1.5em;
    display: grid;
    height: auto;
    width: 70%;
    grid-template-rows: 2fr 0.2fr 1fr;
    gap: 1em;
    position: relative;
}
.main{
    width: 100%;
    background-color: orange;
    text-align: center;
}
.main img{
    width: 100%;
}
.content_1{
    display: flex;
    justify-content: space-between;
}
.name{
    width: auto;
    color: white;
    background-color: orange;
    display: flex;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
}
.price{
    background-color: orange;
    width: auto;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-decoration: underline;
}
.description{
    background-color: rgb(131, 88, 9);
}
.fa-cart-shopping{
    position: absolute;
    top: 10;
    right: 1em;
    font-size: 5em;
    color: hsl(39, 100%, 76%);
}