*{
    padding: 0;
    margin: 0;
}
.logo{
    color: white;
    font-weight: bolder;
}
.nav{
    height: 10vh;
    background-color: #333;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
}
.lists{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.lists li{
    margin: 0 25px;
}
.lists li a{
    color: white;
    text-decoration: none;
}
.products{
    background-color: orange;
    border: 1px solid white;
    width: auto;
    height: auto;
}
.products img{
    width: 20em;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}
.cont1{
    padding: em;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
    gap: 20px 20px;
}